<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" />
</div>

<div>
  <!-- Event Binding Syntax -->
  <!-- Name of the event -> Function called -->
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <input />
</div>