<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($event.target.value)" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
  <!-- Event Binding Syntax -->
  <!-- Name of the event -> Function called -->
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <!-- Property Binding Syntax -->
  <!-- Name of the event -> Property called -->
  <input [value]="password" />
</div>

{{ password }}
